# use glob syntax.
syntax: glob
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.so
*.so.[0123456789]
*.so.[0123456789].[0123456789]
*.o
*.a
*~
*.swp
*.swo
.DS_Store

libgfx/config.log
mixkit/config.status
tools/filters/ply2smf
tools/filters/smf2c
tools/filters/smf2flat
tools/filters/smf2iv
tools/filters/smf2ldmesh
tools/filters/smf2ply
tools/filters/smfboundary
tools/filters/smfcat
tools/filters/smfclean
tools/filters/smfedgelist
tools/filters/smferror
tools/filters/smfmeasure
tools/filters/smfquadric
tools/filters/smfrefine
tools/filters/smfsphere
tools/filters/smfstitch
tools/qslim/qslim
tools/qslim/qvis
libgfx/config.status
libgfx/gfx-config
mixkit/config.log
mixkit/mix-config
